<mat-toolbar class="toolbar" style=" color:white">
   
  <mat-toolbar-row>
    <span>Dashboard</span>
    
    <span class="example-spacer"></span>
    <auto-complete-components *ngIf="selectedTrack" [data]="data"></auto-complete-components>
     <a aria-label="Example delete icon" class="example-icon"  >
  <mat-icon  *ngIf="selectedTrack" aria-hidden="false" style="cursor:pointer">search</mat-icon></a>
    
   
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!selectedTrack">
  <h1>Choose a Track</h1>
  <div class="button-list">
    <button mat-flat-button class="button" [ngClass]="'color'+track.id" *ngFor="let track of tracks" (click)="selectTrack(track.id)">{{track.name}}</button>
  </div>
</div>

<ng-container *ngIf="selectedTrack">
  <div class="buttons-row">
    <mat-icon mat-flat-button class="buttonBack" *ngIf="selectedTrack" (click)="unselectTrack()">arrow_back</mat-icon>
    <button mat-button (click)="openDialog()" mat-flat-button color="primary" class="addButton">Add Row</button>
  </div>
  <app-data-table [type]="getTrackName()" [data]="data" (deleteRow)="removeData($event)" (getNextPage)="getNextPage($event)"></app-data-table>
</ng-container>


