<mat-toolbar class="toolbar" style=" color:white">
  <mat-toolbar-row>
    <span>Dashboard</span>
    <mat-icon mat-flat-button class="buttonBack" *ngIf="selectedTrack" (click)="unselectTrack()">exit_to_app</mat-icon>
    <span class="example-spacer"></span>
    <auto-complete-components *ngIf="selectedTrack" [data]="data"></auto-complete-components>
     <a aria-label="Example delete icon" class="example-icon"  >
  <mat-icon  *ngIf="selectedTrack" aria-hidden="false">search</mat-icon></a>
    
   
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!selectedTrack">
  <h1>Choose a Track</h1>
  <div class="button-list">
    <button mat-flat-button class="button" [ngClass]="'color'+track.id" *ngFor="let track of tracks" (click)="selectTrack(track.id)">{{track.name}}</button>
  </div>
</div>

<app-data-table *ngIf="selectedTrack" [data]="data" (getNextPage)="getNextPage($event)"></app-data-table>

