<div mat-dialog-container >
    <h2 mat-dialog-title>More Info</h2>
    <div class="label">
      <h4 > Description:</h4>
      {{elementData.Description}}

      <h4>Item:</h4>
      {{elementData.Item}}

      <h4>Impact Reamars Comments:</h4>
      {{elementData.Impact_Reamars_Comments}}

      <h4>Type:</h4>
      {{elementData.Type}}

      <h4>Division:</h4>
      {{elementData.Division}}

      <h4>Proponent:</h4>
      {{elementData.Proponent}}

      <h4>Is Proponent Involve:</h4>
      {{elementData.is_Proponent_involve}}

      <h4>Fund Source:</h4>
      {{elementData.Fund_Source}}

      <h4> CAD SME:</h4>
      {{elementData.CAD_SME}}
      
      <h4> Theme:</h4>
      {{elementData.Theme}}

      <h4> Start:</h4>
      {{elementData.start}}

      <h4> End:</h4>
      {{elementData.end}}
      
      <h4> Cost:</h4>
      {{elementData.cost}}

      <h4> NPV:</h4>
      {{elementData.NPV}}

      <h4> NPV Justification:</h4>
      {{elementData.NPV_Justification}}

      <h4> DT Item:</h4>
      {{elementData.DT_Item}}

      <h4> BP Item:</h4>
      {{elementData.BP_Item}}

      <h4> Demand:</h4>
      {{elementData.Demand}}

      <h4> Note:</h4>
      {{elementData.Note}}

      <h4> Status:</h4>
      {{elementData.Status}}

      <h4> Last Update:</h4>
      {{elementData.Last_Update}}

    </div>
   
    <div class="value">
    
        <!--{{elementData.Item}}
        {{elementData.Impact_Reamars_Comments}}
        {{elementData.Type}}
        {{elementData.Division}}
        {{elementData.Proponent}}
        {{elementData.is_Proponent_involve}}
        {{elementData.Fund_Source}}
        {{elementData.CAD_SME}}
        {{elementData.Theme}}
        {{elementData.start}}
        {{elementData.end}}
        {{elementData.cost}}
        {{elementData.NPV}}
        {{elementData.NPV_Justification}}
        {{elementData.DT_Item}}
        {{elementData.BP_Item}}
        {{elementData.Demand}}
        {{elementData.Note}}
        {{elementData.Status}}
        {{elementData.Last_Update}}-->
    </div>
</div>
<div mat-dialog-actions>       
    <button mat-raised-button matDialogClose>Cancel</button>
</div>
      