<div mat-dialog-container >
        <h2 mat-dialog-title> more info</h2>
<table mat-table [dataSource]="elementData" style="width: 250%" >
    
     <!-- desc Column -->
     <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
          </ng-container>
    
     <!-- Impact_Reamars_Comments Column -->
     <ng-container matColumnDef=" Impact_Reamars_Comments">
            <th mat-header-cell *matHeaderCellDef>  Impact_Reamars_Comments </th>
            <td mat-cell *matCellDef="let element"> {{element. Impact_Reamars_Comments}} </td>
        </ng-container>

        <!-- Proponent Column -->
     <ng-container matColumnDef="Proponent">
            <th mat-header-cell *matHeaderCellDef> Proponent </th>
            <td mat-cell *matCellDef="let element"> {{element.Proponent}} </td>
        </ng-container>

         <!-- is_Proponent_involve Column -->
     <ng-container matColumnDef="is_Proponent_involve">
            <th mat-header-cell *matHeaderCellDef> is_Proponent_involve </th>
            <td mat-cell *matCellDef="let element"> {{element.is_Proponent_involve}} </td>
        </ng-container>
        
        <!-- Fund_Source Column -->
     <ng-container matColumnDef="Fund_Source">
            <th mat-header-cell *matHeaderCellDef> Fund_Source </th>
            <td mat-cell *matCellDef="let element"> {{element.Fund_Source}} </td>
        </ng-container>
        
         <!-- Theme Column -->
     <ng-container matColumnDef="Theme">
            <th mat-header-cell *matHeaderCellDef> Theme </th>
            <td mat-cell *matCellDef="let element"> {{element.Theme}} </td>
        </ng-container>
        
         <!-- start Column -->
     <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> start </th>
            <td mat-cell *matCellDef="let element"> {{element.start}} </td>
        </ng-container>
        
         <!-- end Column -->
     <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> end </th>
            <td mat-cell *matCellDef="let element"> {{element.end}} </td>
        </ng-container>

        <!-- cost Column -->
     <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> cost </th>
            <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
        </ng-container>

             <!-- NPV Column -->
     <ng-container matColumnDef="NPV">
            <th mat-header-cell *matHeaderCellDef> NPV </th>
            <td mat-cell *matCellDef="let element"> {{element.NPV}} </td>
        </ng-container>

           <!-- NPV_Justification Column -->
     <ng-container matColumnDef="NPV_Justification">
            <th mat-header-cell *matHeaderCellDef> NPV_Justification </th>
            <td mat-cell *matCellDef="let element"> {{element.NPV_Justification}} </td>
        </ng-container>

          <!-- DT_Item Column -->
     <ng-container matColumnDef="DT_Item">
            <th mat-header-cell *matHeaderCellDef> DT_Item </th>
            <td mat-cell *matCellDef="let element"> {{element.DT_Item}} </td>
        </ng-container>

          <!-- BP_Item Column -->
     <ng-container matColumnDef="BP_Item">
            <th mat-header-cell *matHeaderCellDef> BP_Item </th>
            <td mat-cell *matCellDef="let element"> {{element.BP_Item}} </td>
        </ng-container>

        <!-- Demand Column -->
     <ng-container matColumnDef="Demand">
            <th mat-header-cell *matHeaderCellDef> Demand </th>
            <td mat-cell *matCellDef="let element"> {{element.Demand}} </td>
        </ng-container>

         <!-- Note Column -->
     <ng-container matColumnDef="Note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.Note}} </td>
        </ng-container>

         <!-- Update Column -->
     <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element"> {{element.Update}} </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
</table>

</div>
<div mat-dialog-actions>
       
       <button mat-raised-button matDialogClose>Cancel</button>
      </div>
      